<div class="h3 f-w-t">What people say:</div>
<div class="scroll-container">
  <div class="comment-block ">
    <div class="txt-com">
      The app is great, simple and intuitive to use allowing for freeing up of time to focus on the elements of business that generates income.
    </div>
    <div class="autor-com">
      <div class="h4 f-w-t">Gareth Reid - Property.ca</div>
    </div>
  </div>
  <div class="comment-block">
    <div class="txt-com">
      Knock App is the greatest thing since sliced bread Idan and his team have created a way to make the we book showings very easy and very organized.
    </div>
    <div class="author-com">
      <div class="h4 f-w-t">Oudi Elmalem - Property.ca</div>
    </div>
  </div>
  <div class="comment-block">
    <div class="txt-com">
      The Knock app has removed all of the hassle of booking showings and makes it possible and easy to book on the fly. Knock completely changed the showing process for me.
    </div>
    <div class="author-com">
      <div class="h4 f-w-t">Chris Killam - Property.ca</div>
    </div>
  </div>
  <div class="comment-block ">
    <div class="txt-com">
      Knock has been a game changer for me. I'm on my phone all the time, so why not use my phone to help improve my business? Knock cuts down the time it takes to book showings and leaves me more time to focus on clients and making money.
    </div>
    <div class="autor-com">
      <div class="h4 f-w-t">Katie Hutchinson - Property.ca</div>
    </div>
  </div>
  <div class="comment-block ">
    <div class="txt-com">
      Knock has become a literally inseparable aspect of my day to day real estate business. The ease of which I can now do what was previously the most annoying aspect of my responsibilities, booking and managing my appointments, is now all done through the tips of my fingers. I reccommend this app to ALL my colleagues
    </div>
    <div class="autor-com">
      <div class="h4 f-w-t">Larry Vinogradsky - Property.ca</div>
    </div>
  </div>
  <div class="comment-block ">
    <div class="txt-com">
      Knock was the easiest and most cost effective showing booking system I have every used. The days of calling and booking multiple showings with different brokerages are a thing of the past with this software, within a few clicks you are booked and have all of the property's information pushed directly to your phone... Knock is a no brainer
    </div>
    <div class="autor-com">
      <div class="h4 f-w-t">Zach Lahartinger - Property.ca</div>
    </div>
  </div>
  <div class="comment-block">
    <div class="txt-com">
      Knock app is an amazing time saver, I found it most useful with their "Group Showing" feature.  They made sure I got into each unit I requested. Even paged an agent for me when they couldn't get an appointment through the office. Two Thumbs Up! What a useful tool that I would recommend any Realtor give this app a try. You won't be disappointed.
    </div>
    <div class="autor-com">
      <div class="h4 f-w-t">Alex Hood - Property.ca</div>
    </div>
  </div>
  <div class="comment-block">
    <div class="txt-com">
      Calling in to different brokerages to set up showings is such a time consuming task, not to mention the time it takes to key every listing into the MLS, map it in a logical order and time it in a way that will work. Personally, not my favorite part of being a realtor. Knock was the solution for me, they don't just book the showing; they can map it for you, all your confirmations are organized in one place AND you have a screenshot of the listing for your convenience. Worth every penny
    </div>
    <div class="autor-com">
      <div class="h4 f-w-t">
        Mila Sheina - Property.ca
      </div>
    </div>
  </div>

</div>
<!-- <div class="com-btns">
  <div class="butn-f-com active">
    <hr>
  </div>
  <div class="butn-f-com">
    <hr>
  </div>
  <div class="butn-f-com">
    <hr>
  </div>
  <div class="butn-f-com">
    <hr>
  </div>
</div> -->
