 <header>
 	<div class="container">
 		<div class="row">
 			<div class="col-md-12 head-line">
 				<div class="logo-blck">
 					{{#link-to 'index'}}
 					<img src="/assets/img/logo.png" alt="logo">
 					{{/link-to}}

 				</div>
 				<div class="btn-bl-h">
 					<button class="sign-in-btn" {{action "pressed"}}>SIGN IN</button>
 				</div>
 			</div>
 		</div>
 	</div>
 </header>
 {{outlet}}
