
<div class="block-1">
	<div class="container">
		<div class="row">
			<div class="col-md-4 img-bl col-md-push-4">
				<img src="/assets/img/mob-im.png" alt="">
			</div>
			<div class="col-md-4 col-md-push-4">
				<div class="app-btn">
					<div class="store-btn">
						<a href="">
							<img src="/assets/img/appst-im.png" alt="">
						</a>
					</div>
					<div class="store-btn">
						<a href="">
							<img src="/assets/img/gogp-im.png" alt="">
						</a>
					</div>
				</div>
				<button class="try-btn">TRY KNOCK FOR FREE</button>
			</div>
			<div class="col-md-4 col-md-pull-8">
				<div class="h3 f-w-t">What people say:</div>
				
				<div class="comment-block">
					<div class="txt-com">
						It really works. Thank you for the service! And even with languages using the Latin alphabet, there may be minor problems.
					</div>
					<div class="autor-com">
						<div class="h4 f-w-t">John Paley</div>
						<hr>
					</div>
				</div>
				<div class="comment-block">
					<div class="txt-com">
						It really works. Thank you for the service! 
					</div>
					<div class="autor-com">
						<div class="h4 f-w-t">John Paley</div>
						<hr>
					</div>
				</div>
				<div class="comment-block">
					<div class="txt-com">
						It really works. Thank you for the service! And even with languages using the Latin alphabet, there may be minor problems.
					</div>
					<div class="autor-com">
						<div class="h4 f-w-t">John Paley</div>
						<hr>
					</div>
				</div>
				<div class="com-btns">
					<div class="butn-f-com active">
						<hr>
					</div>
					<div class="butn-f-com">
						<hr>
					</div>
					<div class="butn-f-com">
						<hr>
					</div>
					<div class="butn-f-com">
						<hr>
					</div>
				</div>
			</div>
			
			<div class="col-md-12 hidden-xs">
				<div class="down-btn">
					<a href="">
						<img src="/assets/img/elips.png" alt="">
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="block-2">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="h2 cnt-t ">Contact Us</div>
			</div>
			<div class="col-md-12 com-bl">
				<div class="col-md-5 col-md-push-1">
					<div class="cont-box clearfix">
						<div class="col-md-12">
							<div class="icon-bl">
								<a href="mailto:info@knock.com"><img src="/assets/img/mail.png" alt=""></a>
							</div>
						</div>
						<div class="col-md-12">
							<div class="imp-txt">
								<a href="mailto:info@knock.com"><span class="slog">Shoot us an Email</span></a>
								<div class="big-inf">info@knock.com</div>
							</div>
							<div class="txt">We're always happy to discuss partnerships or opportunities.</div>
						</div>
					</div>
				</div>
				<div class="col-md-5 col-md-push-1">
					<div class="cont-box clearfix">
						<div class="col-md-12">
							<div class="icon-bl">
								<a href="tel:+380445370222"><img src="/assets/img/tel.png" alt=""></a>
							</div>
						</div>
						<div class="col-md-12">
							<div class="imp-txt">
								<a href="tel:+380445370222"><span class="slog">Give Us A Call</span></a>
								<div class="big-inf">+38 044 537 0222</div>
							</div>
							<div class="txt">If your request is urgent and you need help immediately, connect with us directly here.</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<footer>
	<div class="container">
		<div class="row">
			<div class="col-xs-6 soc">
				<a href="">Addo Labs Inc.</a>
			</div>
			<div class="col-xs-6 soc-l">
				{{#link-to 'privacy'}}
				Privacy Policy
				{{/link-to}}
			</div>
		</div>
	</div>
</footer>
