@media (min-height: 700px) and (min-width:921px) {
   
}


@media (max-width: 1280px) {
   
    .h1,h1 {
        font-size: 38px
    }

    .h2,h2 {
        font-size: 26px
    }

    
}
@media (min-width: 1000px) and (min-height: 850px) {
    .block-1 {
        max-height: 850px;
        min-height: 750px;
    }
    .block-2 {
        max-height: 560px;
        min-height: 500px;
    }
}
@media (min-width: 1100px) and (min-height: 750px) {
   .block-1, .text-page {
        margin-top: -110px;
    } 
}

@media (min-width: 1100px) and (max-height: 710px) {
    .down-btn {
        margin-top: 5px;
    }
}
@media (min-width: 1100px) and (max-height: 680px) {
     .block-1, .text-page {
        padding-top: 190px;
    }
    .logo-blck {
        max-width: 145px;
    }
    .h3, h3 {
        font-size: 23px;
    }
    .autor-com  {
        margin-top: 10px;
    }
    .img-bl> img {
        max-height: 435px;
    }
    .down-btn {
        margin-top: 20px;
    }
}
@media (min-width: 1100px) and (max-height: 655px) {
     .block-1, .text-page {
        padding-top: 175px;
    }
    .logo-blck {
        max-width: 145px;
    }
    .h3, h3 {
        font-size: 22px;
    }
    .autor-com  {
        margin-top: 10px;
    }
    .img-bl> img {
        max-height: 435px;
    }
    .down-btn {
        margin-top: 10px;
    }
}
@media (min-width: 1100px) and (max-height: 640px) {
     .block-1, .text-page {
        padding-top: 165px;
    }
    .logo-blck {
        max-width: 145px;
    }
    .h3, h3 {
        font-size: 22px;
    }
    .autor-com  {
        margin-top: 10px;
    }
    .img-bl> img {
        max-height: 430px;
    }
    .down-btn {
        margin-top: 5px;
    }
}
@media (min-width: 1100px) and (max-height: 620px) {
    .block-1, .text-page {
        padding-top: 150px;
    }
    .logo-blck {
        max-width: 135px;
    }
    .h3, h3 {
        font-size: 21px;
    }
    .autor-com  {
        margin-top: 10px;
    }
    .img-bl> img {
        max-height: 430px;
    }
    .down-btn {
        margin-top: 5px;
    }
}
@media (max-width: 1050px) {
    .txt {
        font-size: 14px;
    }
    .big-inf {
        margin: 10px 0px;
    }
    .com-bl {
        margin-top: 50px;
    }
    .block-2 {
        padding: 45px 0px;
    }
    .block-1 {
        min-height: 600px;
    }
    .block-2 {
        min-height: 470px;
    }
}
@media (max-width: 991px) {
    .block-1 {
        padding-top: 170px;
    }
    .app-btn {
        margin-top: 10%;
    }
    .store-btn {
        display: block;
        margin: 0 auto;
        margin-bottom: 7px;
    }
    .try-btn {
        margin: 0 auto;
        margin-bottom: 40px;
        display: block;
    }
    .com-bl {
        margin-top: 40px;
        padding: 0;
    }
    .cont-box {
        padding: 30px 5px;
        margin-bottom: 15px;
    }
    .imp-txt {
        font-size: 20px;
    }
    .block-2 {
        padding: 45px 0px;
    }
}

@media (max-width: 767px) {
    header {
        margin-top: 15px;
    }
    .logo-blck {
        max-width: 110px;
        display: inline-block; 
    }
    .btn-bl-h {
        top: 10px;
    }
    .block-1 {
        padding-top: 120px;
        padding-bottom: 30px;
    }
    .app-btn {
        margin-top: 13%;
    }
    .try-btn {
        margin-bottom: 40px;
        width: 100%;
    }
    .all-text {
        font-size: 16px;
        padding: 45px 22px;
        margin-top: 40px;
    }
    footer {
        padding: 25px 0px;
    }
}

@media (max-width: 480px) {
    

    .h1,h1 {
        font-size: 26px;
        font-weight: 600
    }

    .h2,h2 {
        /*font-size: 17px;*/
        /*font-weight: 400*/
    }

    .h3,.h4,.red-btn,h3,h4 {
        font-size: 16px
    }

    
}

@media (max-width: 375px) {
    .h1,h1 {
        font-size:25px;
        font-weight: 600
    }

    /*.h2,h2 {
        font-size: 16px;
        font-weight: 400
    }*/

    .h3,.h4,.red-btn,h3,h4 {
        font-size: 15px
    }

    
}

@media (max-width: 320px) {
    html {
        font-size:50%
    }

    

    .h1,h1 {
        font-size: 21px;
        font-weight: 600
    }

    /*.h2,h2 {
        font-size: 14px;
        font-weight: 400
    }*/

    .h3,.h4,h3,h4 {
        font-size: 13px
    }

    
}
