@font-face { 
    font-family: 'Roboto';        
    src: url('../fonts/Roboto-Black_0.ttf'); 
    font-weight: 900;              
    font-style: normal; 
}
@font-face { 
    font-family: 'Roboto';        
    src: url('../fonts/Roboto-BlackItalic_0.ttf'); 
    font-weight: 900;              
    font-style: italic; 
}
@font-face { 
    font-family: 'Roboto';        
    src: url('../fonts/Roboto-Bold_0.ttf'); 
    font-weight: 600;              
    font-style: normal; 
}
@font-face { 
    font-family: 'Roboto';        
    src: url('../fonts/Roboto-BoldItalic_0.ttf'); 
    font-weight: 600;              
    font-style: italic; 
}
@font-face { 
    font-family: 'Roboto';        
    src: url('../fonts/Roboto-Medium_0.ttf'); 
    font-weight: 400;              
    font-style: normal; 
}
@font-face { 
    font-family: 'Roboto';        
    src: url('../fonts/Roboto-MediumItalic_0.ttf'); 
    font-weight: 400;              
    font-style: italic; 
}
@font-face { 
    font-family: 'Roboto';        
    src: url('../fonts/Roboto-Regular_0.ttf'); 
    font-weight: 300;              
    font-style: normal; 
}
@font-face { 
    font-family: 'Roboto';        
    src: url('../fonts/Roboto-Italic_0.ttf'); 
    font-weight: 300;              
    font-style: italic; 
}
@font-face { 
    font-family: 'Roboto';        
    src: url('../fonts/Roboto-Light_0.ttf'); 
    font-weight: 200;              
    font-style: normal; 
}
@font-face { 
    font-family: 'Roboto';        
    src: url('../fonts/Roboto-LightItalic_0.ttf'); 
    font-weight: 200;              
    font-style: italic; 
}
@font-face { 
    font-family: 'Roboto';        
    src: url('../fonts/Roboto-Thin_0.ttf'); 
    font-weight: 100;              
    font-style: normal; 
}
@font-face { 
    font-family: 'Roboto';        
    src: url('../fonts/Roboto-ThinItalic_0.ttf'); 
    font-weight: 100;              
    font-style: italic; 
}

html,
body {
    background-color: #fff;
    font-size: 15px;
    color: #455a64;
    width: 100%;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    font-family: 'Roboto';
    font-weight: 300;
}

img {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    user-drag: none;
}
a,
a:hover,
a:active,
a:focus {
    text-decoration: none;
    outline: none;
}
a,
button,
a span {
    -webkit-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}
.btn.extra-width {
    padding: 13px 40px;
}
.btn:focus,
.btn:active {
    outline: inherit;
}
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*    direction: rtl;*/
}
p {
    margin: 0 0 15px;
}
.clear {
    clear: both;
}

ul {
    list-style: none;
    padding: 0;
}

img {
    max-width: 100%;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
select {
    outline: none;
}

h1,
h2,
h3 {
    /*font-family: 'Lane', sans-serif;*/
    font-weight: 300;
    margin: 0;
}
h4,
h5 {
    /*font-family: 'OpenSans', sans-serif;*/
    font-weight: 300;
    margin: 0;
    line-height: 2rem;
}
h1 {
    font-size: 3rem;
    line-height: 4rem;
    font-weight: 300;
}
h2 {
    font-size: 2.5rem;
    line-height: 3rem;
    margin-bottom: .9rem;
}
h3 {
    font-weight: 300;
    margin-bottom: .9rem;
    font-size: 2.1rem;
    line-height: 2.5rem;
}
h4 {
    font-size: 1.6rem;
    line-height: 2.2rem;
    margin-bottom: 1.1rem;
}
h5 {
    font-size: 1.3rem;
    margin-bottom: 1rem;
}
h6 {
    font-size: 1rem;
    margin-bottom: .9rem;
}
p {
    line-height: 1.5rem;
    font-size: 1.1rem;
}
p:last-child {
    margin-bottom: 0px;
}
.overlay {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    min-height: 750px;
    height: 100vh;
    position: fixed;
    display: none;
    top: 0%;
    z-index: 100;
}



.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.728571;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 3px;
    width: 200px;
    height: 50px;
    padding: 1em;
}


.f-w-t {
    font-weight: 600;
}

/*for placeholder changes*/


input::-webkit-input-placeholder {
    color: #26252b;
    font-size: 15px;
    padding-top:2px;

}
input::-moz-placeholder {
    color: #26252b;
    font-size: 15px;
    padding-top:0px;

}
input:-ms-input-placeholder {
    color: #26252b;
    font-size: 15px;
    padding-top:0px;

}
textarea::-webkit-input-placeholder
{
    color: #26252b;
    font-size: 15px;
    padding-top:10px;


}
textarea::-moz-input-placeholder
{
    color: #26252b;
    font-size: 15px;
    padding-top:10px;

}
textarea::-ms-input-placeholder
{
    color: #26252b;
    font-size: 15px;
    padding-top:10px;

}


.uppc-t {
    text-transform: uppercase;
}
/***********header****************/
header {
    background-color: transparent;
    width: 100%;
    z-index: 9;
    height: 100px;
    margin-top: 10px;
    color: #455a64;
}
.head-line {
    position: relative;
}
.logo-blck {
    max-width: 145px;
    display: block;
    margin: 0 auto;
}
.btn-bl-h {
    position: absolute;
    right: 0px;
    top: 25px;
}
.sign-in-btn {
    width: 130px;
    font-size: 14px;
    line-height: 1;
    font-weight: 400;
    padding: 13px 0px;
    border: 2px solid #455a64;
    border-radius: 8px;
    background: transparent;
}
.sign-in-btn:hover {
    background: #455a64;
    border-color: #455a64;
    color: white;
}
/***********sections*************/
.cnt-b {
    float: none;
    margin: 0 auto;
    display: block;
}
.cnt-t {
    text-align: center;
}
/******block-1 and text-page*****/
.block-1, .text-page {
    min-height: 100vh;
    margin-top: -150px;
    padding-top: 210px;
    padding-bottom: 35px;
    background-image: url(../img/bl-1-bg.jpg);
    background-position: 0 0;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
.block-1 .h3 {
    margin-left: 20px;
}
.txt-com {
    font-size: 14px;
    color: #757575;
}
.comment-block {
    border: none;
    background-color: #fff;
    border-radius: 8px;
    padding: 15px;
    margin-top: 15px;
    -webkit-box-shadow: 0px 0px 12px #4263747a;
    box-shadow: 0px 0px 12px #4263747a;
}
.autor-com {
    margin-top: 18px;
}
.com-btns {
    margin-left: 5px;
}
.autor-com>*, .com-btns>*{
    display: inline-block;
    vertical-align: top;
}
.autor-com > hr {
    margin: 20px 10px;
    width: 55%;
    float: right;
    border-top: 2px solid #455a64;
}
.butn-f-com {
    width: 7%;
    cursor: pointer;
    margin:0 3px;
}
.butn-f-com>hr {
    margin: 10px 0px;
    width: 100%;
    float: left;
    border-top: 3px solid #455a64;
    border-radius: 3px;
}
.butn-f-com:hover>hr{
    border-color: #f24f1c;
}
.butn-f-com.active {
    width: 14%;
}
.butn-f-com.active>hr {
    border-color: #ff5722;
}
.img-bl> img {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}
.app-btn {
    margin-top: 50%;
    margin-bottom: 35px;
}
.store-btn {
    width: 140px;
    margin-bottom: 5px;
}
.try-btn {
    font-size: 17px;
    font-weight: 900;
    width: 230px;
    line-height: 1;
    padding: 20px 0px;
    border: none;
    border-radius: 8px;
    background-color: #ff5722;
    color: white;
}
.try-btn:hover {
    background-color: #e44816;
}
.down-btn {
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    width: 35px;
}
/*****text-page*****/
.prav-zag {
    color: #ff5722;
    text-transform: uppercase;
}
.all-text {
    font-size: 18px;
    color: #757575;
    padding: 60px;
    margin-top: 60px;
    border: none;
    background-color: #fff;
    border-radius: 8px;
    -webkit-box-shadow: 0px 0px 12px #4263747a;
    box-shadow: 0px 0px 12px #4263747a; 
}
.zagl {
    color: #455a64;
    font-weight: 900;
    margin-top: 30px;
}
/******block-2*****/
.block-2 {
    min-height: 75vh;
    padding: 70px 0px ;
    background-color: #ff5722;
}
.block-2 .h2 {
    color: white;
    font-weight: 900;
}
.com-bl {
    margin-top: 70px;
}
.cont-box {
    background-color: #fff;
    border-radius: 8px;
    text-align: center;
    padding: 50px 12px;
}
.icon-bl {
    width: 50px;
    max-height: 38px;
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
}
.imp-txt{
    font-size: 22px;
}
.imp-txt>a {
    font-weight: 900;
    color: #455a64;
}
.big-inf {
    margin: 15px 0px;
    color: #757575;
    text-transform: uppercase;
}
.txt {
    color: #757575;
    font-size: 16px;
}
footer {
    font-size: 16px;
    font-weight: 200;
    padding: 40px 0px;
    color: white;
    background-color: #426374;
}
footer a {
    color: white;
    /*padding: 10px;*/
}
footer a:hover {
    color: #ff5722;
} 
.soc {
    text-align: right;
}
.soc-l {
    text-align: left;
}










