
<div class="text-page">
  <div class="container">
    <div class="row">
      <div class="h2 f-w-t cnt-t prav-zag">Privacy Policy</div>
      <div class="col-md-12">
        <div class="all-text">
          <div class="bl-w-txt">
            This privacy policy has been compiled to better serve those who are concerned with how their 'Personally Identifiable Information' (PII) is being used online. PII, as described in US privacy law and information security, is information that can be used on its own or with other information to identify, contact, or locate a single person, or to identify an individual in context. Please read our privacy policy carefully to get a clear understanding of how we collect, use, protect or otherwise handle your Personally Identifiable Information in accordance with our website.
          </div>
          <div class="bl-w-txt">
            Our website automatically gathers certain usage information like the numbers and frequency of visitors to Addo Labs Inc. This data helps us determine how many our clients and visitors use parts of the website, so we can improve our website to assure that it is as appealing as we can make it for as many of you as possible.
          </div>
          <div class="bl-w-txt">
            We may provide statistical “ratings” information, never information about you personally, to our Addo Labs Inc partners about how our clients and visitors, collectively, use Addo Labs Inc. We do this so they too can understand how much people use their areas and our website in order for them to provide you with the best possible Web experience.
          </div>
          <div class="bl-w-txt">
            We will only transmit or ask for personal information over secure Internet connections, using SSL (Secure Sockets Layer) encryption, the currently accepted standard for online security, and security keys.
          </div>
          <div class="bl-w-txt">
            Your credit card number and financial information cannot be viewed by Addo Labs Inc, and are stored on secure, designated servers and access is limited to individuals in departments charged with using such information only in connection with processing your orders for products and services purchased.
          </div>
          <div class="bl-w-txt">
            We may use your information to let you know of additional products and services which you might be interested. We may ask you for information about your interests so that both you and we can take advantage of the interactivity of the online medium, but you may always choose to respond or not, or opt out of future mailings.
          </div>
          <div class="bl-w-txt">
            Addo Labs Inc will not share your personal information to any third party, unless requested in response to legal processes, such as a court order or subpoena.
          </div>
          <div class="bl-w-txt">
            Whenever personal information about you is stored on our computers, that information is password-protected from unauthorized access or use. In addition, this information is kept on servers that are located behind a firewall.
          </div>
          <div class="bl-w-text">
            This website may contain links to other websites. Addo Labs Inc is not responsible for the privacy practices or the content of such websites.
          </div>
          <div class="bl-w-text">
            Google Google's advertising requirements can be summed up by Google's Advertising Principles. They are put in place to provide a positive experience for users. https://support.google.com/adwordspolicy/answer/1316548?hl=en
          </div>
          <div class="bl-w-text">
            We have not enabled Google AdSense on our site but we may do so in the future.
          </div>
          <div class="bl-w-txt">
            <div class="zagl">We use cookies to:</div>
            Understand and save user's preferences for future visits. • Compile aggregate data about site traffic and site interactions in order to offer better site experiences and tools in the future. We may also use trusted third-party services that track this information on our behalf.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-6 soc">
        <a href="">Addo Labs Inc.</a>
      </div>
      <div class="col-xs-6 soc-l">
        <a href="">Privacy Policy</a>
      </div>
    </div>
  </div>
</footer>
